form {
  display: inline-block;
  margin: 0 auto;
  width:400px
}
.form-group {
  text-align: center;
  padding-bottom: 25px;
}

.list-styled{
  text-align: center;
  align-content: center;
  horiz-align: center;
  alignment: center;
}

a.close {
  float: right;
}

input[type=text]:focus{
  background-color: #f2f2f2;
}
