<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<body>
<div class="form-group">
  <form role="form">
    <input #todoNote type="text" class="form-control" placeholder="todo" name="todo">
  </form>
  <button (click)="addTodo(todoNote.value)" type="button" class="btn btn btn-primary">add</button>
</div>
<div class="list-styled">
<ul class="todos" id="todo">
  <li *ngFor="let todo of todos">
    <input type="checkbox" [(ngModel)]="todo.completed" (click)="complete(todo)"/>
    <span class="badge">{{todo.note}}</span>
  </li>
</ul>
</div>

</body>
